<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erickhene.administrator.dao.mapper.GuruTabMapper">

    <resultMap id="BaseResultMap" type="com.erickhene.administrator.entity.Base">
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
        <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
    </resultMap>

    <resultMap id="SiswaResultMap" type="com.erickhene.administrator.entity.impl.Guru" extends="BaseResultMap">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="g_name" jdbcType="VARCHAR" property="name" />
        <result column="g_bithplace" jdbcType="VARCHAR" property="birthPlace" />
        <result column="g_bithdate" jdbcType="VARCHAR" property="birthDate" />
        <result column="g_religion" jdbcType="VARCHAR" property="religion" />
        <result column="g_nip" jdbcType="VARCHAR" property="nip" />
        <result column="g_nik" jdbcType="VARCHAR" property="nik" />
        <result column="g_phone" jdbcType="VARCHAR" property="phone" />
        <result column="g_gender" jdbcType="SMALLINT" property="gender" />
    </resultMap>

    <select
            id="selectAll"
            resultMap="SiswaResultMap"
            parameterType="map"
    >
        SELECT * FROM guru_tab WHERE enabled = 1 AND g_name LIKE '%${search}%' ORDER BY g_name ASC LIMIT ${number}, ${size}
    </select>

    <select
            id="selectByUuid"
            parameterType="String"
            resultMap="SiswaResultMap"
    >
        SELECT * FROM guru_tab WHERE uuid = '${value}'
    </select>
</mapper>